* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
  }

    /* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #000000;
  }

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #000000;
    margin: 0;
    display: inline;
  }
  
  header a {
    text-decoration: none;
    color: #ffffff;
  }

  header nav {
    float: right;
    margin: 7px 0;
  }

  header nav ul li {
    display: inline;
  }

  header nav ul li a {
    margin: 0 30px;
    font-weight: normal;
    font-size: 22px;
  }header nav ul li a {
    margin: 0 30px;
    font-weight: normal;
    font-size: 22px;
  }
/* end nav */

/* about */
  .about-me h2{
    margin-top: 20px;
  }

  .about-me img {
    width: 100%;
    height: 175px;
    object-fit: cover; ;
  }
/* end about */
  p {
      margin: 20px 30px;
      line-height: 1.5;
      max-width: 1200px;    
  }

  h2 {
      margin:0 30px;
      font-size: 50px;
      text-decoration: underline;
      max-width: 1200px;
  }
 
.hero {
  display: flex;
}

.whero {
  flex: 1
}

.whero img {
  width: 1500px;
  height: 500px;
  object-fit: cover;
}

.worktext {
  position: absolute;
  margin-top: -70px;
  color:#ffffff;
  background-color: black;
  padding:20px;
  width: 10%;
  
}

.work-thumbnails {
  display:flex;

}

.work-thumbnails img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.work2 {
}

.work4 {
  flex: 2;
}

.work5 {
  flex: 3
}

.work6 {
  flex: 4
}

.work7 {

}

.work8 {

}

.work9 {

}